# ==========================================
# CONFIGURAÇÕES DO BANCO DE DADOS (MONGODB)
# ==========================================
# A string utilizada durante o desenvolvimento foi enviada por e-mail na entrega do teste.

MONGO_URI=string_de_conexao_do_mongodb

# ==========================================
# CONFIGURAÇÕES DE AUTENTICAÇÃO E SEGURANÇA
# ==========================================

SECRET_TOKEN=dimensa_aprovou

# ==========================================
# CONFIGURAÇÕES DO CELERY E REDIS (DOCKER)
# ==========================================

CELERY_BROKER_URL=redis://redis:6379/0